html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff; /* Define a cor do texto como branco */
  font-family: Arial, sans-serif;
}
body {
  background-image: url(./img/fundo.jpg);
  background-size: cover;
}
img {
  width: 100%;
  height: 100%;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 10px;
}